// border-radius: 0% 100% 130% 0% / 0% 130% 0% 60%;

body {
	overflow: hidden;
}

.painting {
	width: 1000px;
	height: 740px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.guide {
	height: 740px;
	width: 1000px;
	position: fixed;
	// opacity: 0;
}

.sky {
	width: 100%;
	height: 51%;
	background: #a8c8e9;
	position: relative;
	z-index: 5;
	// opacity: 0;
	border-radius: 0 20% 100% 0;
}

.mountain {
	position: relative;
	z-index: 10;
	top: -88px;

	.side1 {
		position: absolute;
		left: 41%;
		top: 40%;
		width: 90%;
		height: 90px;
		transform: skew(-3.19turn);
		background: #6c7d93;
	}
}

.sea {
	position: absolute;
	z-index: 15;
	width: 55%;
	top: 50%;
	height: 12%;
	border-top-right-radius: 45%;
	border-bottom-right-radius: 0;
	background: #0164e0;
	// background: linear-gradient(to top right, #0164e0, #6b9ae3);
}

.stairs {
	z-index: 30;
	position: absolute;
	left: 50%;
	width: 21.5%;
	height: 31.5%;
	left: 62%;
	top: 39%;

	.step {}

	.top-wall {
		position: absolute;
		width: 100%;
		height: 45%;
		// opacity: 0;
		background: #c0bcac;
	}

	.step-left-1 {
		position: absolute;
		width: 21.5%;
		// opacity: 0.5;
		height: 71%;
		background: #c0bcac;
		top: 29%;
		left: -21%;
	}

	.step-left-2 {
		position: absolute;
		width: 21.5%;
		// opacity: 0.5;
		height: 52%;
		background: #c0bcac;
		top: 48%;
		left: -39%;
	}

	.step-right {
		&:after,
		&:before {
			// opacity: .5;
			position: absolute;
			content: "";
		}
	}

	.step-right-1 {
		&:before {
			background: #a7a27f;
			width: 67%;
			height: 5%;
			right: -4%;
			top: 43%;
			transform: skewX(10.5rad);
		}

		&:after {
			background: #3f393c;
			width: 65%;
			height: 5%;
			right: -9%;
			top: 48%;
		}
	}

	.step-right-2 {
		&:before {
			background: #a7a27f;
			width: 60%;
			height: 5%;
			right: -10%;
			top: 53%;
			transform: skewX(1.1rad);
		}

		&:after {
			background: #3f393c;
			width: 67%;
			height: 7%;
			right: -16%;
			top: 58%;
		}
	}

	.step-right-3 {
		&:before {
			top: 65%;
			right: -21%;
			width: 64%;
			height: 6%;
			transform: skewX(1rad);
			background: #a7a27f;
		}

		&:after {
			background: #3f393c;
			width: 67%;
			height: 7%;
			right: -26%;
			top: 71%;
		}
	}

	.step-right-4 {
		&:before {
			top: 78%;
			right: -31%;
			width: 80%;
			height: 6%;
			transform: skewX(1rad);
			background: #a7a27f;
		}

		&:after {
			background: #3f393c;
			width: 80%;
			height: 5%;
			right: -37%;
			top: 84%;
		}
	}

	.step-right-5 {
		&:before {
			top: 89%;
			right: -40%;
			width: 80%;
			height: 4%;
			transform: skewX(1rad);
			background: #a7a27f;
		}

		&:after {
			top: 93%;
			right: -43%;
			width: 80%;
			height: 6%;
			background: #3f393c;
		}
	}

	.step-right-6 {
		&:before {
			top: 99%;
			right: -48%;
			width: 80%;
			height: 6%;
			transform: skewX(1rad);
			background: #a7a27f;
		}

		&:after {
			top: 105%;
			right: -53%;
			width: 84%;
			height: 5%;
			background: #3f393c;
		}
	}

	.step-right-7 {
		&:before {
			top: 110%;
			right: -55%;
			width: 90%;
			height: 5%;
			transform: skewX(0.8rad);
			background: #a7a27f;
		}

		&:after {
			top: 115%;
			right: -58%;
			width: 100%;
			height: 7%;
			background: #3f393c;
		}
	}

	.right-wall {
		position: absolute;
		top: -22%;
		left: 96%;
		width: 95%;
		height: 143%;
		transform: perspective(400px) rotateY(-15deg);
		background: #25221e;
	}

	.left-wall {
		position: absolute;
		top: 36%;
		left: 0;
		width: 57%;
		height: 100%;
		background: #a87259;
		shape-outside: polygon(2px 148px, 122px 203px, 57px 2px, 0px 0px);
		clip-path: polygon(-1px 149px, 123px 200px, 64px 1px, 0px 0px);
		// background: linear-gradient(to bottom left, #67D7F5, #86F7CC);
	}

	.railing {
		position: absolute;
		top: 36%;
		left: 57%;
		width: 23%;
		height: 86%;
		transform: scaleX(1) scaleY(1) scaleZ(1) skewX(18deg);
		transform-origin: bottom left;
		background: #dbded5;
	}
}

.tree1 {
	position: absolute;
	z-index: 20;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	.trunk {
		position: absolute;
		top: 23%;
		left: -48%;
		display: block;
		z-index: 2;
		// opacity: 0;
		width: 70%;
		height: 80%;
		border-width: 0 109px 0 0;
		border-style: solid;
		border-color: #2c1911;
		border-radius: 100% 100% 130% 100% / 125% 130% 127% 62%;
	}

	.branch {
		position: absolute;
		display: block;
		z-index: 2;
		border-color: #2c1911;
		border-style: solid;
	}

	.branch1 {
		top: -22%;
		left: 64%;
		width: 22%;
		height: 36%;
		transform: rotateX(45deg) rotateY(25deg) rotate(-30deg);
		border-width: 0 20px 0 0;
		border-radius: 0 130% 0 0 / 0 320% 0 0;
	}

	.branch2 {
		top: -16%;
		left: 44%;
		width: 62%;
		height: 106%;
		border-width: 0 60px 0 0;
		border-radius: 0 130% 0 0 / 0 320% 0 0;
	}

	.branch3 {
		top: -4%;
		left: 108%;
		width: 57%;
		height: 53%;
		border-width: 0 0 0 36px;
		border-radius: 90% 100% 0 / 100% 90% 0 0;
	}

	.branch4 {
		top: 5%;
		left: 112%;
		width: 9%;
		height: 25%;
		transform: rotate(35deg);
		border-width: 0 0 0 14px;
		border-radius: 60% 10% 0 / 100% 80% 0 0;
	}

	.branch5 {
		top: -30%;
		left: 112%;
		width: 9%;
		height: 35%;
		transform: rotate(19deg);
		border-width: 0 15px 0 0;
		border-radius: 60% 60% 0 / 130% 80% 0 0;
	}

	.branch6 {
		top: -19px;
		left: 119%;
		width: 7%;
		height: 104px;
		transform: rotate(72deg);
		border-width: 0 8px 0 0;
		border-radius: 100% 100% 10% 10% / 100% 100% 100% 100%;
	}

	.leaves {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;

		.leavesforeground {
			z-index: 3;
			position: relative;
		}

		.leaf {
			position: absolute;
			display: block;
			z-index: 2;
		}

		.bunch1 {
			top: 250px;
			left: -6px;
			width: 70px;
			height: 68px;
			z-index: 1;
			border-radius: 20px 220px 140px 180px;
			position: absolute;
			display: block;
			z-index: 2;
			background: rgba(#3d6038,.5);

			.leaf1 {
				height: 15px;
				width: 10px;
				background: #3d6038;
				left: 9px;
				bottom: -25px;
				border-radius: 70% 50% 80% 50%;
			}

			.leaf2 {
				height: 14px;
				width: 10px;
				background: #252e14;
				left: 28px;
				bottom: -15px;
				border-radius: 70% 50% 80% 50%;
			}

			.leaf3 {
				height: 14px;
				width: 10px;
				background: #34420c;
				left: 20px;
				bottom: -10px;
				border-radius: 70% 50% 80% 50%;
			}

			.leaf4 {
				bottom: 0;
				left: 6px;
				width: 15px;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #304506;
			}

			.leaf5 {
				bottom: -9px;
				left: 10px;
				width: 12px;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #2e3808;
			}

			.leaf6 {
				bottom: 0;
				left: 15px;
				width: 26px;
				z-index: 1;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #2e3808;
			}

			.leaf7 {
				bottom: -10px;
				left: 50px;
				width: 11px;
				height: 16px;
				border-radius: 70% 80% 80% 100%;
				background: #252e0f;
			}

			.leaf8 {
				bottom: 0;
				left: 57px;
				width: 12px;
				height: 16px;
				border-radius: 60% 80% 100% 70%;
				background: #2e4305;
			}

			.leaf9 {
				bottom: -1px;
				z-index: 1;
				left: 50px;
				width: 12px;
				height: 16px;
				border-radius: 80% 80% 100% 70%;
				background: #3a5e20;
			}

			.leaf10 {
				bottom: -3px;
				z-index: 1;
				left: 47px;
				width: 12px;
				height: 14px;
				border-radius: 80% 80% 100% 70%;
				background: #222507;
			}

			.leaf11 {
				bottom: 14px;
				left: 61px;
				width: 18px;
				height: 27px;
				border-radius: 80% 120% 100% 70%;
				background: #354812;
			}

			.leaf12 {
				z-index: 1;
				bottom: 11px;
				left: 50px;
				width: 12px;
				height: 16px;
				border-radius: 80% 80% 100% 70%;
				background: #274015;
			}

			.leaf13 {
				// z-index: 1;
				bottom: 11px;
				left: 30px;
				width: 22px;
				height: 16px;
				border-radius: 80% 80% 100% 70%;
				background: #232d08;
			}

			.leaf14 {
				height: 18px;
				width: 12px;
				background: #242a02;
				left: 30px;
				z-index: 2;
				bottom: -5px;
				border-radius: 70% 50% 80% 50%;
				transform: rotate(40deg);
			}

			.leaf15 {
				height: 8px;
				width: 14px;
				background: #2b4214;
				left: 38px;
				bottom: 8px;
				border-radius: 70% 50% 80% 50%;
			}

			.leaf16 {
				bottom: 21px;
				z-index: 1;
				left: 33px;
				width: 34px;
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				background: #212202;
			}

			.leaf17 {
				bottom: 20px;
				left: -2px;
				width: 14px;
				height: 13px;
				border-radius: 70% 50% 80% 50%;
				background: #2b4214;
			}

			.leaf18 {
				bottom: 8px;
				left: 18px;
				width: 16px;
				height: 14px;
				border-radius: 70% 50% 80% 50%;
				background: #3e4d22;
			}

			.leaf19 {
				bottom: 37px;
				left: 67px;
				width: 15px;
				height: 18px;
				border-radius: 70% 50% 80% 50%;
				background: #0f362c;
				transform: rotate(-40deg);
			}

			.leaf20 {
				bottom: 23px;
				left: 74px;
				width: 12px;
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				background: #4b7431;
			}

			.leaf21 {
				bottom: 41px;
				left: 4px;
				width: 15px;
				height: 35px;
				border-radius: 70% 50% 80% 50%;
				background: #1d2014;
			}

			.leaf22 {
				bottom: 49px;
				left: 10px;
				width: 12px;
				height: 15px;
				border-radius: 70% 50% 80% 50%;
				background: #4b7431;
			}

			.leaf23 {
				bottom: 31px;
				left: 4px;
				width: 12px;
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				background: #1a1c07;
			}

			.leaf24 {
				bottom: 10px;
				left: 5px;
				width: 12px;
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				transform: rotate(60deg);
				background: #4b7431;
			}

			.leaf25 {
				bottom: 16px;
				left: 18px;
				width: 15px;
				height: 22px;
				transform: rotate(46deg);
				border-radius: 70% 50% 80% 50%;
				background: #2b3411;
			}

			.leaf26 {
				bottom: 27px;
				left: 15px;
				width: 12px;
				transform: rotate(46deg);
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				background: #202806;
			}

			.leaf27 {
				bottom: 38px;
				left: 16px;
				width: 16px;
				height: 18px;
				border-radius: 70% 50% 80% 31%;
				background: #354217;
			}

			.leaf28 {
				bottom: 35px;
				left: 43px;
				width: 12px;
				height: 21px;
				transform: rotate(-40deg);
				border-radius: 70% 50% 80% 50%;
				background: #032226;
			}

			.leaf29 {
				bottom: 41px;
				left: 29px;
				width: 15px;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #212505;
			}

			.leaf30 {
				bottom: 43px;
				left: 22px;
				z-index: 1;
				width: 12px;
				height: 21px;
				border-radius: 70% 50% 80% 50%;
				transform: rotate(-20deg);
				background: #232d08;
			}
		}

		.bunch2 {
			top: 200px;
			left: 350px;
			width: 130px;
			height: 68px;
			z-index: 1;
			border-radius: 20px 220px 140px 180px;
			position: absolute;
			display: block;
			z-index: 2;
			// background: rgba(#3d6038,.5);
			//
			.leaf1 {
				bottom: 14px;
				left: 0;
				width: 12px;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #2c3605;
			}

			.leaf2 {
				bottom: 17px;
				left: 14px;
				width: 13px;
				height: 18px;
				border-radius: 70% 50% 80% 50%;
				background: #1a2404;
			}

			.leaf3 {
				bottom: 11px;
				left: 22px;
				width: 10px;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #27320f;
			}

			.leaf4 {
				bottom: 23px;
		    left: 21px;
		    width: 12px;
		    height: 13px;
		    border-radius: 70% 50% 80% 50%;
		    background: #34421b;
			}

			.leaf5 {
				bottom: 13px;
		    left: 35px;
		    width: 11px;
		    height: 21px;
		    border-radius: 70% 50% 80% 50%;
		    background: #202f0a;
				transform: rotate(-40deg)
			}

			.leaf6 {
				bottom: 0;
				left: 15px;
				width: 26px;
				z-index: 1;
				height: 16px;
				border-radius: 70% 50% 80% 50%;
				background: #2e3808;
			}

			.leaf7 {
				bottom: -10px;
				left: 50px;
				width: 11px;
				height: 16px;
				border-radius: 70% 80% 80% 100%;
				background: #252e0f;
			}

			.leaf8 {
				bottom: 0;
				left: 57px;
				width: 12px;
				height: 16px;
				border-radius: 60% 80% 100% 70%;
				background: #2e4305;
			}

			.leaf9 {
				bottom: -1px;
				z-index: 1;
				left: 50px;
				width: 12px;
				height: 16px;
				border-radius: 80% 80% 100% 70%;
				background: #3a5e20;
			}

			.leaf10 {
				bottom: -3px;
				z-index: 1;
				left: 47px;
				width: 12px;
				height: 14px;
				border-radius: 80% 80% 100% 70%;
				background: #222507;
			}
		}
	}
}

.ground {
	position: absolute;
	top: 70.6%;
	height: 30%;
	width: 100%;
	background: #bbae8f;
	display: block;
	z-index: 25;
}

.well {
	position: absolute;
	z-index: 25;
	top: 75%;
	display: block;
	width: 41%;
	height: 25%;
	border-radius: 0 28% 28% 0;
	background: #23407e;
}

.wall {
	width: 100%;
	position: absolute;
	// opacity: 0;
	background: #c0bcac;
	top: 62%;
	z-index: 1;
	z-index: 15;
	height: 8.5%;
}
