body
{
    overflow: hidden;
}

.painting
{
    position: relative; 

    overflow: hidden;

    width: 1000px;
    height: 740px;
    margin: 0 auto;
}

.guide
{
    position: fixed; 

    width: 1000px;
    height: 740px;
}

.sky
{
    position: relative;
    z-index: 5;

    width: 100%;
    height: 51%;

    border-radius: 0 20% 100% 0; 
    background: #a8c8e9;
}

.mountain
{
    position: relative;
    z-index: 10;
    top: -88px;
}
.mountain .side1
{
    position: absolute;
    top: 40%;
    left: 41%;

    width: 90%;
    height: 90px;

    transform: skew(-3.19turn);

    background: #6c7d93;
}

.sea
{
    position: absolute;
    z-index: 15;
    top: 50%;

    width: 55%;
    height: 12%;

    border-top-right-radius: 45%;
    border-bottom-right-radius: 0;
    background: #0164e0;
}

.stairs
{
    position: absolute;
    z-index: 30;
    top: 39%; 
    left: 50%;
    left: 62%;

    width: 21.5%;
    height: 31.5%;
}
.stairs .top-wall
{
    position: absolute;

    width: 100%;
    height: 45%;

    background: #c0bcac;
}
.stairs .step-left-1
{
    position: absolute;
    top: 29%;
    left: -21%; 

    width: 21.5%;
    height: 71%;

    background: #c0bcac;
}
.stairs .step-left-2
{
    position: absolute;
    top: 48%;
    left: -39%; 

    width: 21.5%;
    height: 52%;

    background: #c0bcac;
}
.stairs .step-right:after,
.stairs .step-right:before
{
    position: absolute;

    content: '';
}
.stairs .step-right-1:before
{
    top: 43%;
    right: -4%;

    width: 67%;
    height: 5%;

    transform: skewX(10.5rad); 

    background: #a7a27f;
}
.stairs .step-right-1:after
{
    top: 48%; 
    right: -9%;

    width: 65%;
    height: 5%;

    background: #3f393c;
}
.stairs .step-right-2:before
{
    top: 53%;
    right: -10%;

    width: 60%;
    height: 5%;

    transform: skewX(1.1rad); 

    background: #a7a27f;
}
.stairs .step-right-2:after
{
    top: 58%; 
    right: -16%;

    width: 67%;
    height: 7%;

    background: #3f393c;
}
.stairs .step-right-3:before
{
    top: 65%;
    right: -21%;

    width: 64%;
    height: 6%;

    transform: skewX(1rad);

    background: #a7a27f;
}
.stairs .step-right-3:after
{
    top: 71%; 
    right: -26%;

    width: 67%;
    height: 7%;

    background: #3f393c;
}
.stairs .step-right-4:before
{
    top: 78%;
    right: -31%;

    width: 80%;
    height: 6%;

    transform: skewX(1rad);

    background: #a7a27f;
}
.stairs .step-right-4:after
{
    top: 84%; 
    right: -37%;

    width: 80%;
    height: 5%;

    background: #3f393c;
}
.stairs .step-right-5:before
{
    top: 89%;
    right: -40%;

    width: 80%;
    height: 4%;

    transform: skewX(1rad);

    background: #a7a27f;
}
.stairs .step-right-5:after
{
    top: 93%;
    right: -43%;

    width: 80%;
    height: 6%;

    background: #3f393c;
}
.stairs .step-right-6:before
{
    top: 99%;
    right: -48%;

    width: 80%;
    height: 6%;

    transform: skewX(1rad);

    background: #a7a27f;
}
.stairs .step-right-6:after
{
    top: 105%;
    right: -53%;

    width: 84%;
    height: 5%;

    background: #3f393c;
}
.stairs .step-right-7:before
{
    top: 110%;
    right: -55%;

    width: 90%;
    height: 5%;

    transform: skewX(.8rad);

    background: #a7a27f;
}
.stairs .step-right-7:after
{
    top: 115%;
    right: -58%;

    width: 100%;
    height: 7%;

    background: #3f393c;
}
.stairs .right-wall
{
    position: absolute;
    top: -22%;
    left: 96%;

    width: 95%;
    height: 143%;

    transform: perspective(400px) rotateY(-15deg);

    background: #25221e;
}
.stairs .left-wall
{
    position: absolute;
    top: 36%;
    left: 0;

    width: 57%;
    height: 100%;

    background: #a87259;

    shape-outside: polygon(2px 148px, 122px 203px, 57px 2px, 0px 0px);
    -webkit-clip-path: polygon(-1px 149px, 123px 200px, 64px 1px, 0px 0px);
            clip-path: polygon(-1px 149px, 123px 200px, 64px 1px, 0px 0px);
}
.stairs .railing
{
    position: absolute;
    top: 36%;
    left: 57%;

    width: 23%;
    height: 86%;

    transform: scaleX(1) scaleY(1) scaleZ(1) skewX(18deg);
    transform-origin: bottom left;

    background: #dbded5;
}

.tree1
{
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0; 

    width: 100%;
    height: 100%;
}
.tree1 .trunk
{
    position: absolute;
    z-index: 2;
    top: 23%;
    left: -48%;

    display: block;

    width: 70%;
    height: 80%;

    border-width: 0 109px 0 0;
    border-style: solid;
    border-color: #2c1911;
    border-radius: 100% 100% 130% 100% / 125% 130% 127% 62%;
}
.tree1 .branch
{
    position: absolute;
    z-index: 2;

    display: block;

    border-style: solid; 
    border-color: #2c1911;
}
.tree1 .branch1
{
    top: -22%;
    left: 64%;

    width: 22%;
    height: 36%;

    transform: rotateX(45deg) rotateY(25deg) rotate(-30deg);

    border-width: 0 20px 0 0;
    border-radius: 0 130% 0 0 / 0 320% 0 0;
}
.tree1 .branch2
{
    top: -16%;
    left: 44%;

    width: 62%;
    height: 106%;

    border-width: 0 60px 0 0;
    border-radius: 0 130% 0 0 / 0 320% 0 0;
}
.tree1 .branch3
{
    top: -4%;
    left: 108%;

    width: 57%;
    height: 53%;

    border-width: 0 0 0 36px;
    border-radius: 90% 100% 0 / 100% 90% 0 0;
}
.tree1 .branch4
{
    top: 5%;
    left: 112%;

    width: 9%;
    height: 25%;

    transform: rotate(35deg);

    border-width: 0 0 0 14px;
    border-radius: 60% 10% 0 / 100% 80% 0 0;
}
.tree1 .branch5
{
    top: -30%;
    left: 112%;

    width: 9%;
    height: 35%;

    transform: rotate(19deg);

    border-width: 0 15px 0 0;
    border-radius: 60% 60% 0 / 130% 80% 0 0;
}
.tree1 .branch6
{
    top: -19px;
    left: 119%;

    width: 7%;
    height: 104px;

    transform: rotate(72deg);

    border-width: 0 8px 0 0;
    border-radius: 100% 100% 10% 10% / 100% 100% 100% 100%;
}
.tree1 .leaves
{
    position: absolute;
    top: 0;
    left: 0; 

    width: 100%;
    height: 100%;
}
.tree1 .leaves .leavesforeground
{
    position: relative; 
    z-index: 3;
}
.tree1 .leaves .leaf
{
    position: absolute;
    z-index: 2; 

    display: block;
}
.tree1 .leaves .bunch1
{
    position: absolute;
    z-index: 1;
    z-index: 2;
    top: 250px;
    left: -6px;

    display: block;

    width: 70px;
    height: 68px;

    border-radius: 20px 220px 140px 180px;
    background: rgba(61, 96, 56, .5);
}
.tree1 .leaves .bunch1 .leaf1
{
    bottom: -25px;
    left: 9px;

    width: 10px;
    height: 15px;

    border-radius: 70% 50% 80% 50%; 
    background: #3d6038;
}
.tree1 .leaves .bunch1 .leaf2
{
    bottom: -15px;
    left: 28px;

    width: 10px;
    height: 14px;

    border-radius: 70% 50% 80% 50%; 
    background: #252e14;
}
.tree1 .leaves .bunch1 .leaf3
{
    bottom: -10px;
    left: 20px;

    width: 10px;
    height: 14px;

    border-radius: 70% 50% 80% 50%; 
    background: #34420c;
}
.tree1 .leaves .bunch1 .leaf4
{
    bottom: 0;
    left: 6px;

    width: 15px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #304506;
}
.tree1 .leaves .bunch1 .leaf5
{
    bottom: -9px;
    left: 10px;

    width: 12px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #2e3808;
}
.tree1 .leaves .bunch1 .leaf6
{
    z-index: 1;
    bottom: 0;
    left: 15px;

    width: 26px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #2e3808;
}
.tree1 .leaves .bunch1 .leaf7
{
    bottom: -10px;
    left: 50px;

    width: 11px;
    height: 16px;

    border-radius: 70% 80% 80% 100%;
    background: #252e0f;
}
.tree1 .leaves .bunch1 .leaf8
{
    bottom: 0;
    left: 57px;

    width: 12px;
    height: 16px;

    border-radius: 60% 80% 100% 70%;
    background: #2e4305;
}
.tree1 .leaves .bunch1 .leaf9
{
    z-index: 1;
    bottom: -1px;
    left: 50px;

    width: 12px;
    height: 16px;

    border-radius: 80% 80% 100% 70%;
    background: #3a5e20;
}
.tree1 .leaves .bunch1 .leaf10
{
    z-index: 1;
    bottom: -3px;
    left: 47px;

    width: 12px;
    height: 14px;

    border-radius: 80% 80% 100% 70%;
    background: #222507;
}
.tree1 .leaves .bunch1 .leaf11
{
    bottom: 14px;
    left: 61px;

    width: 18px;
    height: 27px;

    border-radius: 80% 120% 100% 70%;
    background: #354812;
}
.tree1 .leaves .bunch1 .leaf12
{
    z-index: 1;
    bottom: 11px;
    left: 50px;

    width: 12px;
    height: 16px;

    border-radius: 80% 80% 100% 70%;
    background: #274015;
}
.tree1 .leaves .bunch1 .leaf13
{
    bottom: 11px;
    left: 30px;

    width: 22px;
    height: 16px;

    border-radius: 80% 80% 100% 70%;
    background: #232d08;
}
.tree1 .leaves .bunch1 .leaf14
{
    z-index: 2;
    bottom: -5px;
    left: 30px;

    width: 12px;
    height: 18px;

    transform: rotate(40deg); 

    border-radius: 70% 50% 80% 50%;
    background: #242a02;
}
.tree1 .leaves .bunch1 .leaf15
{
    bottom: 8px;
    left: 38px;

    width: 14px;
    height: 8px;

    border-radius: 70% 50% 80% 50%; 
    background: #2b4214;
}
.tree1 .leaves .bunch1 .leaf16
{
    z-index: 1;
    bottom: 21px;
    left: 33px;

    width: 34px;
    height: 21px;

    border-radius: 70% 50% 80% 50%;
    background: #212202;
}
.tree1 .leaves .bunch1 .leaf17
{
    bottom: 20px;
    left: -2px;

    width: 14px;
    height: 13px;

    border-radius: 70% 50% 80% 50%;
    background: #2b4214;
}
.tree1 .leaves .bunch1 .leaf18
{
    bottom: 8px;
    left: 18px;

    width: 16px;
    height: 14px;

    border-radius: 70% 50% 80% 50%;
    background: #3e4d22;
}
.tree1 .leaves .bunch1 .leaf19
{
    bottom: 37px;
    left: 67px;

    width: 15px;
    height: 18px;

    transform: rotate(-40deg); 

    border-radius: 70% 50% 80% 50%;
    background: #0f362c;
}
.tree1 .leaves .bunch1 .leaf20
{
    bottom: 23px;
    left: 74px;

    width: 12px;
    height: 21px;

    border-radius: 70% 50% 80% 50%;
    background: #4b7431;
}
.tree1 .leaves .bunch1 .leaf21
{
    bottom: 41px;
    left: 4px;

    width: 15px;
    height: 35px;

    border-radius: 70% 50% 80% 50%;
    background: #1d2014;
}
.tree1 .leaves .bunch1 .leaf22
{
    bottom: 49px;
    left: 10px;

    width: 12px;
    height: 15px;

    border-radius: 70% 50% 80% 50%;
    background: #4b7431;
}
.tree1 .leaves .bunch1 .leaf23
{
    bottom: 31px;
    left: 4px;

    width: 12px;
    height: 21px;

    border-radius: 70% 50% 80% 50%;
    background: #1a1c07;
}
.tree1 .leaves .bunch1 .leaf24
{
    bottom: 10px;
    left: 5px;

    width: 12px;
    height: 21px;

    transform: rotate(60deg);

    border-radius: 70% 50% 80% 50%;
    background: #4b7431;
}
.tree1 .leaves .bunch1 .leaf25
{
    bottom: 16px;
    left: 18px;

    width: 15px;
    height: 22px;

    transform: rotate(46deg);

    border-radius: 70% 50% 80% 50%;
    background: #2b3411;
}
.tree1 .leaves .bunch1 .leaf26
{
    bottom: 27px;
    left: 15px;

    width: 12px;
    height: 21px;

    transform: rotate(46deg);

    border-radius: 70% 50% 80% 50%;
    background: #202806;
}
.tree1 .leaves .bunch1 .leaf27
{
    bottom: 38px;
    left: 16px;

    width: 16px;
    height: 18px;

    border-radius: 70% 50% 80% 31%;
    background: #354217;
}
.tree1 .leaves .bunch1 .leaf28
{
    bottom: 35px;
    left: 43px;

    width: 12px;
    height: 21px;

    transform: rotate(-40deg);

    border-radius: 70% 50% 80% 50%;
    background: #032226;
}
.tree1 .leaves .bunch1 .leaf29
{
    bottom: 41px;
    left: 29px;

    width: 15px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #212505;
}
.tree1 .leaves .bunch1 .leaf30
{
    z-index: 1;
    bottom: 43px;
    left: 22px;

    width: 12px;
    height: 21px;

    transform: rotate(-20deg);

    border-radius: 70% 50% 80% 50%;
    background: #232d08;
}
.tree1 .leaves .bunch2
{
    position: absolute;
    z-index: 1;
    z-index: 2; 
    top: 200px;
    left: 350px;

    display: block;

    width: 130px;
    height: 68px;

    border-radius: 20px 220px 140px 180px;
}
.tree1 .leaves .bunch2 .leaf1
{
    bottom: 14px;
    left: 0;

    width: 12px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #2c3605;
}
.tree1 .leaves .bunch2 .leaf2
{
    bottom: 17px;
    left: 14px;

    width: 13px;
    height: 18px;

    border-radius: 70% 50% 80% 50%;
    background: #1a2404;
}
.tree1 .leaves .bunch2 .leaf3
{
    bottom: 11px;
    left: 22px;

    width: 10px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #27320f;
}
.tree1 .leaves .bunch2 .leaf4
{
    bottom: 23px;
    left: 21px;

    width: 12px;
    height: 13px;

    border-radius: 70% 50% 80% 50%;
    background: #34421b;
}
.tree1 .leaves .bunch2 .leaf5
{
    bottom: 13px;
    left: 35px;

    width: 11px;
    height: 21px;

    transform: rotate(-40deg); 

    border-radius: 70% 50% 80% 50%;
    background: #202f0a;
}
.tree1 .leaves .bunch2 .leaf6
{
    z-index: 1;
    bottom: 0;
    left: 15px;

    width: 26px;
    height: 16px;

    border-radius: 70% 50% 80% 50%;
    background: #2e3808;
}
.tree1 .leaves .bunch2 .leaf7
{
    bottom: -10px;
    left: 50px;

    width: 11px;
    height: 16px;

    border-radius: 70% 80% 80% 100%;
    background: #252e0f;
}
.tree1 .leaves .bunch2 .leaf8
{
    bottom: 0;
    left: 57px;

    width: 12px;
    height: 16px;

    border-radius: 60% 80% 100% 70%;
    background: #2e4305;
}
.tree1 .leaves .bunch2 .leaf9
{
    z-index: 1;
    bottom: -1px;
    left: 50px;

    width: 12px;
    height: 16px;

    border-radius: 80% 80% 100% 70%;
    background: #3a5e20;
}
.tree1 .leaves .bunch2 .leaf10
{
    z-index: 1;
    bottom: -3px;
    left: 47px;

    width: 12px;
    height: 14px;

    border-radius: 80% 80% 100% 70%;
    background: #222507;
}

.ground
{
    position: absolute;
    z-index: 25; 
    top: 70.6%;

    display: block;

    width: 100%;
    height: 30%;

    background: #bbae8f;
}

.well
{
    position: absolute;
    z-index: 25;
    top: 75%;

    display: block;

    width: 41%;
    height: 25%;

    border-radius: 0 28% 28% 0;
    background: #23407e;
}

.wall
{
    position: absolute;
    z-index: 1;
    z-index: 15;
    top: 62%;

    width: 100%;
    height: 8.5%; 

    background: #c0bcac;
}
